<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>
<a  th:href="@{/add-category}">Add Category</a>
<ul th:each="category: ${categories}">
  <a th:href="@{/deleteByIdC(id=$(category.id})}">X</a>
  <a th:href="@{/findByIdC(id=$(category.id})}">view</a>
  <a th:href="@{/edit-category(id=${category.id})}">EDIT</a>

</ul>




<table style="width:100%">
  <tr>
    <th>id</th>
    <th>Category name</th>
    <th>Action</th>
  </tr>
  <tr th:each="category: ${categories}">
    <td th:text="${category.id}"></td>
    <td th:text="${category.categoryName}"></td>

  </tr>

</table>

</body>
</html>